---
import "../styles/global.css";

// Props interface
interface Props {
  header?: string;
  header2?: string;	
}

const { header = "Hi, I’m Arjun Bhogal", header2 = "A UI/UX Developer" } = Astro.props;

---

<div class="w-[1440px] h-[4636px] relative bg-White overflow-hidden">
    <div class="left-[80px] top-[384px] absolute inline-flex flex-col justify-start items-start gap-2.5">
        <div class="flex flex-col justify-start items-start">
            <div class="self-stretch justify-start text-Black text-8xl font-semibold">Hi, I’m Arjun Bhogal </div>
            <div class="self-stretch justify-start text-Black text-8xl font-semibold">A UI/UX Developer</div>
            <div class="self-stretch justify-start text-Black text-2xl font-semibold pt-2">Coming soon...</div>
        </div>
    </div>
    
</div>